@import '../mixin';
@import '../../var.scss';

@include bp(max-width, $bp-medium + 1) {
  #header {
    .features {
      padding: $gap ($trim + $gap);

      .menu-mobile {
        width: 25px;
        height: 25px;
        position: relative;

        .icon {
          @include text($c-white, $f-size-xxl + 6, 700);
          transition: 300ms;

          > i {
            position: absolute;
            left: 0;
            top: 0;
          }

          > i:first-child {
            opacity: 1;
            visibility: visible;
            transition: 300ms;
          }

          > i:last-child {
            transition: 300ms;
            opacity: 0;
            visibility: hidden;
          }
        }

        #navbar-mobile {
          visibility: hidden;
          opacity: 0;
          transition: 300ms;
          position: absolute;
          top: 70px;
          right: 0;
          width: 100%;
          min-width: 300px;
          @include bp(max-width, 360px) {
            min-width: 240px;
          }

          ul.menu {
            background-color: $c-white;
            flex-direction: column;
            padding: ($gap * 2) $trim;
            border-radius: $default-border-radius;
            filter: drop-shadow(0 2px 6px #ccc);

            > li.item {
              text-align: left;
              padding: 0;
              width: 100%;

              > a {
                color: $c-black;
                padding: 0;
                display: block;
              }

              &.active, &:hover {
                > a {
                  color: $c-action;
                  opacity: 1;
                }
              }

              &.has-children {
                > a::after {
                  border-color: $c-black;
                  right: 0;
                }

                > .dropdown {
                  position: static;
                  padding: $trim-small 0 0;
                  box-shadow: none;
                  transition: none;
                  display: none;
                  opacity: initial;
                  visibility: initial;
                  min-width: initial;
                }

                &:hover {
                  > a::after {
                    border-color: $c-action;
                  }
                }
              }

              &:not(:last-child) {
                margin: 0 0 ($trim-small - 2);
              }
            }
          }
        }

        &.active {
          .icon {
            > i:first-child {
              opacity: 0;
              visibility: hidden;
              transition: 300ms;
            }

            > i:last-child {
              opacity: 1;
              visibility: visible;
              transition: 300ms;
            }
          }

          #navbar-mobile {
            opacity: 1;
            visibility: visible;
            top: 50px;
          }
        }
      }
    }

    #navbar, .login {
      display: none;
    }

    &.fixed {
      .menu-mobile {
        .icon {
          color: $c-action;
        }
      }
    }
  }
}
