@import './var.scss';

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $f-stack-default;
  color: $c-gray;
}

a {
  text-decoration: none;
  transition: 300ms;
  padding: ($gap + 1) (($gap - 2) * 2);

  &:hover {
    color: $c-action;
  }
}

.button {
  background-color: $c-action;
  color: $c-white;
  border-radius: $default-border-radius;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    background-color: $c-black;
    color: $c-white;
  }
}

.header-container,
.footer-container,
.container {
  max-width: $max-content-width;
  margin: 0 auto;
}

ul, ol, li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 12px; // Define a largura do scrollbar
}

::-webkit-scrollbar-track {
  background: $c-white; // Define a cor de fundo da barra de rolagem
}

::-webkit-scrollbar-thumb {
  background-color: $c-black; // Define a cor do polegar de rolagem
  border-radius: $default-border-radius; // Define a curva dos cantos do polegar de rolagem
  border: 3px solid $c-black; // Cria bordas de preenchimentos ao redor do polegar de rolagem

  &:hover {
    background-color: $c-blue;
    border-color: $c-blue;
  }
}
