/* ***************
* Container
**************** */
/* ***************
* Border-radius
**************** */
/* ***************
* Breakpoints
**************** */
/* ***************
* Margin/Padding
**************** */
/* ***************
* Colors
**************** */
/* ***************
* Fonts
**************** */
/* ***************
* Font-size
**************** */
@media screen and (max-width: 768px) {
  /* line 7, ../../../scss/layout/mobile/home.scss */
  .main-container section .container {
    padding: 0 40px;
  }
  /* line 11, ../../../scss/layout/mobile/home.scss */
  .main-container section.download {
    padding: 150px 0 0;
  }
  /* line 15, ../../../scss/layout/mobile/home.scss */
  .main-container section.download .container h1 {
    font-size: 26px;
  }
  /* line 19, ../../../scss/layout/mobile/home.scss */
  .main-container section.download .container p.description {
    font-size: 16px;
  }
  /* line 23, ../../../scss/layout/mobile/home.scss */
  .main-container section.download .container .buttons {
    flex-direction: row;
  }
  /* line 26, ../../../scss/layout/mobile/home.scss */
  .main-container section.download .container .buttons > a.button {
    margin: 0;
  }
  /* line 35, ../../../scss/layout/mobile/home.scss */
  .main-container section.features .container ul.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  /* line 41, ../../../scss/layout/mobile/home.scss */
  .main-container section.about-us {
    padding: 50px 30px;
  }
  /* line 44, ../../../scss/layout/mobile/home.scss */
  .main-container section.about-us .container {
    padding: 0;
    flex-wrap: wrap;
  }
  /* line 48, ../../../scss/layout/mobile/home.scss */
  .main-container section.about-us .container .left {
    padding: 30px 30px 0;
    flex: 0 0 100%;
  }
  /* line 52, ../../../scss/layout/mobile/home.scss */
  .main-container section.about-us .container .left a.button {
    margin: 0 0 50px;
  }
  /* line 60, ../../../scss/layout/mobile/home.scss */
  .main-container section.price .container {
    padding: 120px 40px 90px;
  }
  /* line 63, ../../../scss/layout/mobile/home.scss */
  .main-container section.price .container ul.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-content: center;
  }
  /* line 72, ../../../scss/layout/mobile/home.scss */
  .main-container section.faq .container .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
  }
  /* line 76, ../../../scss/layout/mobile/home.scss */
  .main-container section.faq .container .content .item .description-faq {
    padding: 30px 0 0;
  }
  /* line 86, ../../../scss/layout/mobile/home.scss */
  .main-container section.testimonials .container .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  /* line 90, ../../../scss/layout/mobile/home.scss */
  .main-container section.testimonials .container .content-bottom > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  /* line 93, ../../../scss/layout/mobile/home.scss */
  .main-container section.testimonials .container .content-bottom > ul > li {
    margin: 0;
  }
  /* line 96, ../../../scss/layout/mobile/home.scss */
  .main-container section.testimonials .container .content-bottom > ul > li > img {
    margin: 0 auto;
    max-width: 100%;
  }
  /* line 106, ../../../scss/layout/mobile/home.scss */
  .main-container section.team .container {
    padding: 120px 40px 80px;
  }
  /* line 109, ../../../scss/layout/mobile/home.scss */
  .main-container section.team .container .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  /* line 115, ../../../scss/layout/mobile/home.scss */
  .main-container section.contact {
    padding: 0;
  }
  /* line 118, ../../../scss/layout/mobile/home.scss */
  .main-container section.contact .container {
    padding: 0;
  }
  /* line 121, ../../../scss/layout/mobile/home.scss */
  .main-container section.contact .container .top {
    padding: 50px 30px;
  }
  /* line 125, ../../../scss/layout/mobile/home.scss */
  .main-container section.contact .container .top .wrapper > h3 {
    margin: 0 0 30px;
  }
  /* line 129, ../../../scss/layout/mobile/home.scss */
  .main-container section.contact .container .top .wrapper form {
    position: relative;
    top: initial;
    padding: 30px;
  }
  /* line 138, ../../../scss/layout/mobile/home.scss */
  .main-container section.contact .container .bottom .wrapper {
    padding: 50px 30px;
  }
  /* line 141, ../../../scss/layout/mobile/home.scss */
  .main-container section.contact .container .bottom .wrapper > .content {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  /* line 146, ../../../scss/layout/mobile/home.scss */
  .main-container section.contact .container .bottom .wrapper > .content .item:first-child {
    margin: 0 0 30px;
  }
}
