@import '../var.scss';
@import '../mixin/breakpoint';

@mixin flex($a-items: '', $j-content: '', $flex-d: '')
{
    display: flex;
    @if $a-items != '' {
        align-items: $a-items;
    }
    @if $j-content != '' {
        justify-content: $j-content;
    }
    @if $flex-d != '' {
        @include bp(max-width, $bp-medium) {
            flex-direction: $flex-d;
            padding-bottom: $gap;
        }
    }
}

@mixin grid($column, $gap, $align: '')
{
    display: grid;
    grid-template-columns: $column;
    gap: $gap;
    @if $align != '' {
        align-items: $align;
    }
}

@mixin text($color, $f-size, $f-weight)
{
    color: $color;
    font-size: $f-size;
    font-weight: $f-weight;
}

@mixin centraliza($value)
{
    max-width: $value;
    margin: 0 auto;
}

@mixin arrow($color)
{
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    border-left: 2px solid $color;
    border-bottom: 2px solid $color;
    transform: translateY(-50%) rotate(-45deg);
    width: 10px;
    height: 10px;
    margin-top: -2px;
}

@mixin noDesk
{
    display: none;
    @include bp(max-width, $bp-medium) {
        display: block;
    }
}

@mixin noMobile
{
    display: block;
    @include bp(max-width, $bp-medium) {
        display: none;
    }
}

@mixin alignFontAwesome
{
    @include flex(center, center);
    height: 100%;
    width: 100%;
}

@mixin circleBottom($color)
{
    content: "";
    width: 55px;
    height: 55px;
    background-color: $color;
    position: absolute;
    left: -2px;
    bottom: -2px;
    border-radius: 0 55px 0 10px;
}

@mixin circleTop($color)
{
    content: "";
    width: 55px;
    height: 55px;
    background-color: $color;
    position: absolute;
    right: -2px;
    top: -2px;
    border-radius: 0 10px 0 55px;
}

@mixin maxRow($value)
{
    display: -webkit-box;
    -webkit-line-clamp: $value;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
