@import './mixin';
@import '../var.scss';

.main {
  section {
    &.download {
      background-color: $c-blue;
      padding: 180px 0 0;

      .container {
        text-align: center;

        h1 {
          @include text($c-white, 45px, 700);
          line-height: 1.4;
          margin: 0 auto 40px;
          max-width: $max-content-width - 365;
        }

        p.description {
          @include text($c-white, $f-size-xxl + 2, 400);
          opacity: 0.85;
          max-width: 600px;
          margin: 0 auto 40px;
          line-height: 1.8;
        }

        .buttons {
          @include flex(center, center, column);
          max-width: $max-content-width - 365;
          margin: 0 auto 40px;

          .button {
            background-color: $c-white;
            @include text($c-black, $f-size-xl, 500);
            padding: $trim-small $trim;
            margin-right: $trim;

            &:hover {
              color: $c-action;
            }
          }

          .link {
            @include text($c-white, $f-size-xl, 400);

            > i {
              transition: 300ms;
            }

            &:hover {
              opacity: 0.5;

              > i {
                transform: translateX(3px);
              }
            }
          }
        }

        .brand {
          max-width: 240px;
          margin: 0 auto 40px;

          > img {
            margin: 0 auto;
            opacity: 0.5;
            transition: 300ms;

            &:hover {
              opacity: 1;
            }
          }
        }

        .img-dashboard {
          > div {
            position: relative;
            margin: 0 auto;
            max-width: 845px;

            > img {
              position: relative;
              z-index: 9;
              margin: 0 auto;
            }

            &::before {
              content: "";
              background: url('../../images/hero/dotted-shape.svg') no-repeat;
              position: absolute;
              width: 134px;
              height: 106px;
              left: -35px;
              bottom: 0;
            }

            &::after {
              content: "";
              background: url('../../images/hero/dotted-shape.svg') no-repeat;
              position: absolute;
              width: 134px;
              height: 106px;
              right: -35px;
              top: -20px;
            }
          }
        }
      }
    }

    &.features {
      padding: 120px 0 0;

      .container {
        > span {
          @include text($c-blue, $f-size-xxl, 700);
          margin: 0 0 $trim-small;
          display: block;
        }

        h2.title {
          @include text($c-black, 42px, 700);
          margin: 0 0 $trim;
        }

        p.description {
          @include text($c-gray, $f-size-xxl + 2, 400);
          max-width: 620px;
          text-align: left;
          line-height: 1.5;
          margin: 0 0 50px;
        }

        ul.list {
          @include grid(1fr 1fr 1fr 1fr, 30px);

          > li.item {
            .image-view {
              width: 70px;
              height: 70px;
              background-color: $c-blue;
              border-radius: $default-border-radius * 2;
              @include text($c-white, $trim + 2, 700);
              margin-bottom: 50px;
              position: relative;

              > i {
                @include alignFontAwesome;
              }

              &::before {
                content: "";
                background-color: $c-blue;
                opacity: 0.3;
                position: absolute;
                width: 70px;
                height: 70px;
                z-index: -1;
                border-radius: $default-border-radius * 2;
                transform: rotate(25deg);
                transition: 500ms;
              }
            }

            > h2 {
              @include text($c-black, $f-size-xxl + 2, 700);
              margin-bottom: $trim-small;
            }

            > p {
              @include text($c-gray, $f-size-xl, 400);
              margin-bottom: 50px;
              line-height: 1.5;
            }

            a.button {
              display: inline-block;
              background-color: transparent;
              padding: 0;
              @include text($c-gray, $f-size-xl, 600);
              margin-bottom: $trim;

              &:hover {
                color: $c-action;
              }
            }

            &:hover {
              .image-view::before {
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }

    &.about-us {
      background-color: #f3f4fe;
      padding: 120px 0;

      .container {
        background-color: $c-white;
        border: 1px solid #efefef;
        @include flex(flex-start, space-between);

        .left {
          padding: 70px;
          flex: 0 0 55%;

          > span {
            background-color: $c-blue;
            @include text($c-white, $f-size, 500);
            padding: ($gap / 2) ($trim - $gap);
            margin: 0 0 $trim;
            display: inline-block;
          }

          > h2 {
            @include text($c-black, 36px, 700);
            margin: 0 0 $trim;
          }

          .description {
            @include text($c-gray, $f-size-xl, 400);
            line-height: 1.5;

            > p {
              margin: 0 0 ($trim + $gap);
            }
          }

          .button {
            display: inline-block;
            padding: ($trim-small + 3) $trim;

            &:hover {
              background-color: $c-blue-dark;
              filter: drop-shadow(0px 0px 3px $c-blue-dark);
            }
          }
        }
      }
    }

    &.price {
      .container {
        padding: 120px 0 90px;
        text-align: center;

        > span {
          @include text($c-blue, $f-size-xxl, 700);
          margin: 0 0 $trim;
          display: inline-block;
        }

        > h2 {
          @include text($c-black, 42px, 700);
          margin: 0 0 $trim;
        }

        > h3 {
          @include text($c-gray, $f-size-xxl + 2, 400);
          max-width: 620px;
          margin: 0 auto 70px;
        }

        > ul.list {
          @include grid(1fr 1fr 1fr, 0);
          align-items: center;

          > li.item {
            border: 2px solid $c-blue-ligth;
            border-radius: $default-border-radius * 2;
            padding: ($trim-small + $trim) $trim;
            position: relative;

            > span {
              display: inline-block;
              text-transform: uppercase;
              @include text($c-blue, $f-size-l, 700);
              background-color: $c-white;
              padding: $trim-small $trim;
              border-radius: 50px;
              margin: 0 0 ($gap * 2);
            }

            > h2 {
              @include text($c-black, $f-size-l, 600);
              text-transform: uppercase;
              margin: 0 0 $gap;
            }

            > h3.price {
              @include text($c-blue, 26px, 700);
              margin: 0 0 50px;
            }

            ul.list-popular {
              > li.item {
                @include text($c-gray, $f-size-l, 500);

                &:not(:last-child) {
                  margin: 0 0 ($gap * 2);
                }
              }
            }

            a.button {
              display: inline-block;
              margin-top: $trim + $gap;
              border: 1px solid $c-blue-ligth;
              border-radius: 50px;
              @include text($c-blue, $f-size-xl, 600);
              background-color: $c-white;
              padding: $trim-small ($trim + $gap);

              &:hover {
                background-color: $c-action;
                color: $c-white;
              }
            }

            &:nth-child(2) {
              background: linear-gradient(180deg, $c-blue 0%,#179bee 100%);
              border: 0;

              > h2, > h3.price, ul.list-popular > li.item {
                color: $c-white;
              }

              a.button {
                border: 0;
                color: $c-black;

                &:hover {
                  color: $c-white;
                  background-color: $c-black;
                }
              }
            }

            &:first-child::after {
              @include circleBottom($c-blue);
            }

            &:last-child::after {
              @include circleTop($c-green);
            }
          }
        }
      }
    }
  }
}