@import './mixin';
@import '../var.scss';

.main {
  section {
    .container {
      > h2 {
        @include text($c-blue, $f-size-xxl, 700);
      }

      > h3 {
        @include text($c-black, 42px, 700);
        margin: $trim-small 0 ($trim-small + 5);
      }

      > h4 {
        @include text($c-gray, $f-size-xxl + 2, 400);
        max-width: 620px;
        margin: 0 auto 70px;
      }
    }

    &.download {
      background-color: $c-blue;
      padding: 180px 0 0;

      .container {
        text-align: center;

        h1 {
          @include text($c-white, 45px, 700);
          line-height: 1.4;
          margin: 0 auto 40px;
          max-width: $max-content-width - 365;
        }

        p.description {
          @include text($c-white, $f-size-xxl + 2, 400);
          opacity: 0.85;
          max-width: 600px;
          margin: 0 auto 40px;
          line-height: 1.8;
        }

        .buttons {
          @include flex(center, center, column);
          max-width: $max-content-width - 365;
          margin: 0 auto 40px;

          .button {
            background-color: $c-white;
            @include text($c-black, $f-size-xl, 500);
            padding: $trim-small $trim;
            margin-right: $trim;

            &:hover {
              color: $c-action;
            }
          }

          .link {
            @include text($c-white, $f-size-xl, 400);

            > i {
              transition: 300ms;
            }

            &:hover {
              opacity: 0.5;

              > i {
                transform: translateX(3px);
              }
            }
          }
        }

        .brand {
          max-width: 240px;
          margin: 0 auto 40px;

          > img {
            margin: 0 auto;
            opacity: 0.5;
            transition: 300ms;

            &:hover {
              opacity: 1;
            }
          }
        }

        .img-dashboard {
          > div {
            position: relative;
            margin: 0 auto;
            max-width: 845px;

            > img {
              position: relative;
              z-index: 9;
              margin: 0 auto;
            }

            &::before {
              content: "";
              background: url('../../images/hero/dotted-shape.svg') no-repeat;
              position: absolute;
              width: 134px;
              height: 106px;
              left: -35px;
              bottom: 0;
            }

            &::after {
              content: "";
              background: url('../../images/hero/dotted-shape.svg') no-repeat;
              position: absolute;
              width: 134px;
              height: 106px;
              right: -35px;
              top: -20px;
            }
          }
        }
      }
    }

    &.features {
      padding: 120px 0 90px;

      .container {
        > h4 {
          margin: 0 0 70px;
        }

        ul.list {
          @include grid(1fr 1fr 1fr 1fr, 30px);

          > li.item {
            .image-view {
              width: 70px;
              height: 70px;
              background-color: $c-blue;
              border-radius: $default-border-radius * 2;
              @include text($c-white, $trim + 2, 700);
              margin-bottom: 50px;
              position: relative;

              > i {
                @include alignFontAwesome;
              }

              &::before {
                content: "";
                background-color: $c-blue;
                opacity: 0.3;
                position: absolute;
                width: 70px;
                height: 70px;
                z-index: -1;
                border-radius: $default-border-radius * 2;
                transform: rotate(25deg);
                transition: 500ms;
              }
            }

            > h2 {
              @include text($c-black, $f-size-xxl + 2, 700);
              margin-bottom: $trim-small;
            }

            > p {
              @include text($c-gray, $f-size-xl, 400);
              margin-bottom: 50px;
              line-height: 1.5;
            }

            a.button {
              display: inline-block;
              background-color: transparent;
              padding: 0;
              @include text($c-gray, $f-size-xl, 600);
              margin-bottom: $trim;

              &:hover {
                color: $c-action;
              }
            }

            &:hover {
              .image-view::before {
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }

    &.about-us {
      background-color: #f3f4fe;
      padding: 120px 0;

      .container {
        background-color: $c-white;
        border: 1px solid #efefef;
        @include flex(flex-start, space-between);

        .left {
          padding: 70px;
          flex: 0 0 55%;

          > span {
            background-color: $c-blue;
            @include text($c-white, $f-size, 500);
            padding: ($gap / 2) ($trim - $gap);
            margin: 0 0 $trim;
            display: inline-block;
          }

          > h2 {
            @include text($c-black, 36px, 700);
            margin: 0 0 $trim;
          }

          .description {
            @include text($c-gray, $f-size-xl, 400);
            line-height: 1.5;

            > p {
              margin: 0 0 ($trim + $gap);
            }
          }

          .button {
            display: inline-block;
            padding: ($trim-small + 3) $trim;

            &:hover {
              background-color: $c-blue-dark;
              filter: drop-shadow(0px 0px 3px $c-blue-dark);
            }
          }
        }
      }
    }

    &.price {
      .container {
        padding: 120px 0 90px;
        text-align: center;

        > ul.list {
          @include grid(1fr 1fr 1fr, 0);
          align-items: center;

          > li.item {
            border: 2px solid $c-blue-ligth;
            border-radius: $default-border-radius * 2;
            padding: ($trim-small + $trim) $trim;
            position: relative;

            > span {
              display: inline-block;
              text-transform: uppercase;
              @include text($c-blue, $f-size-l, 700);
              background-color: $c-white;
              padding: $trim-small $trim;
              border-radius: 50px;
              margin: 0 0 ($gap * 2);
            }

            > h2 {
              @include text($c-black, $f-size-l, 600);
              text-transform: uppercase;
              margin: 0 0 $gap;
            }

            > h3.price {
              @include text($c-blue, 26px, 700);
              margin: 0 0 50px;
            }

            ul.list-popular {
              > li.item {
                @include text($c-gray, $f-size-l, 500);

                &:not(:last-child) {
                  margin: 0 0 ($gap * 2);
                }
              }
            }

            a.button {
              display: inline-block;
              margin-top: $trim + $gap;
              border: 1px solid $c-blue-ligth;
              border-radius: 50px;
              @include text($c-blue, $f-size-xl, 600);
              background-color: $c-white;
              padding: $trim-small ($trim + $gap);

              &:hover {
                background-color: $c-action;
                color: $c-white;
              }
            }

            &:nth-child(2) {
              background: linear-gradient(180deg, $c-blue 0%,#179bee 100%);
              border: 0;

              > h2, > h3.price, ul.list-popular > li.item {
                color: $c-white;
              }

              a.button {
                border: 0;
                color: $c-black;

                &:hover {
                  color: $c-white;
                  background-color: $c-black;
                }
              }
            }

            &:first-child::after {
              @include circleBottom($c-blue);
            }

            &:last-child::after {
              @include circleTop($c-green);
            }
          }
        }
      }
    }

    &.faq {
      background: url('../../images/faq/shape.svg') no-repeat #f3f4fe;
      background-size: cover;
      padding: 120px 0 90px;

      .container {
        text-align: center;

        .content {
          @include grid(1fr 1fr, $trim, flex-start);

          .left, .right {
            @include grid(1fr, 30px);
          }

          .item {
            background-color: $c-white;
            border-radius: $default-border-radius * 2;
            padding: $trim;

            > h4 {
              @include text($c-black, $f-size-xxl, 700);
              @include grid(1fr 10fr, $trim-small + 5, center);
              cursor: pointer;

              .button {
                background-color: $c-blue-ligth-2;
                border-radius: $default-border-radius * 2;
                @include text($c-blue, $f-size-xxl, 400);
                text-align: center;
                padding: $gap;

                > i {
                  transition: 300ms;
                }

                &.act > i {
                  transform: rotateX(180deg);
                }
              }
            }

            .description-faq {
              @include text($c-gray, $f-size-xl, 400);
              padding: $trim 0 0  (($trim * 2) + 2);
              line-height: 1.5;
              display: none;
              opacity: 0;
              visibility: hidden;
              transition: 500ms;

              &.act {
                display: block;
                opacity: 1;
                visibility: visible;
              }
            }

            > h4, .description-faq {
              text-align: left;
            }
          }
        }
      }
    }

    &.testimonials {
      padding-top: 120px;

      .container {
        text-align: center;

        .content {
          @include grid(1fr 1fr 1fr, 20px);

          > .item {
            background-color: $c-white;
            box-shadow: 0 60px 120px -20px $c-blue-ligth-2;
            padding: $trim;
            text-align: left;
            margin-bottom: 50px;

            .stars-rating {
              @include text($c-yellow, $f-size, 700);
              margin: 0 0 $trim-small;
            }

            .description {
              @include text($c-gray, $f-size-xl, 400);
              line-height: 2;
              margin: 0 0 ($trim-small + $gap);
            }

            .data-evaluators {
              @include flex(center, flex-start);

              > figure {
                flex: 0 0 18%;
                margin-right: $trim-small;
              }

              .data {
                > span {
                  @include text($c-black, $f-size, 600);
                }

                > p {
                  @include text($c-gray, $f-size-xs, 400);
                  margin-top: $gap / 2;
                }
              }
            }
          }
        }

        .content-bottom {
          text-align: left;

          > h5 {
            @include text($c-gray, $f-size-xs, 400);
            position: relative;
            display: inline-block;
            margin-bottom: $trim;

            &::after {
              content: "";
              width: 30px;
              height: 1px;
              background-color: $c-gray;
              position: absolute;
              right: -40px;
              top: 50%;
            }
          }

          > ul {
            @include flex(center, flex-start);

            > li {
              margin-right: $trim + $gap;

              > img {
                filter: grayscale(1);
                transition: 300ms;
                max-width: 140px;

                &:hover {
                  filter: grayscale(0);
                }
              }
            }
          }
        }
      }
    }

    &.team {
      .container {
        text-align: center;
        padding: 120px 0 80px;

        .content {
          @include grid(1fr 1fr 1fr 1fr, 30px);

          .item {
            .image-team {
              position: relative;

              > img {
                margin: 0 auto;
                max-width: 170px;
                position: relative;
                z-index: 9;
              }

              &::before {
                content: "";
                position: absolute;
                left: 40px;
                top: 0;
                background: url('../../images/team/dotted-shape.svg') no-repeat;
                width: 71px;
                height: 82px;
                z-index: 1;
              }

              &::after {
                content: "";
                position: absolute;
                right: 40px;
                bottom: 0;
                border: 1px solid $c-green;
                border-radius: 55px 0 0 0;
                width: 25px;
                height: 25px;
              }
            }

            > h5 {
              @include text($c-black, $f-size-xxl, 600);
              margin: $trim 0 $gap;
            }

            > h6 {
              @include text($c-gray, $f-size-xs, 600);
            }

            .social {
              margin-top: $gap * 2;

              > a {
                @include text($c-gray-light-2, $f-size-xl, 700);

                &:hover {
                  color: $c-action;
                }
              }
            }
          }
        }
      }
    }

    &.contact {
      padding: 0 0 120px;

      .container {
        max-width: 100%;

        .top {
          background-color: #f3f4fe;
          padding: 200px 0 80px;

          .wrapper {
            @include centraliza($max-content-width);
            position: relative;

            > h2 {
              @include text($c-black, $f-size-xl, 600);
              margin: 0 0 ($gap * 2);
            }

            > h3 {
              @include text($c-black, $trim + 5, 700);
            }

            form {
              background-color: $c-white;
              border-radius: $default-border-radius * 2;
              box-shadow: 0 4px 28px rgba(000, 000, 000, 0.05);
              position: absolute;
              right: 0;
              top: -50%;
              padding: 50px;

              > h2 {
                @include text($c-black, $trim + 2, 700);
                margin: 0 0 $trim;
              }

              ul {
                > li {
                  margin: 0 0 ($trim-small + $gap);

                  label {
                    display: block;
                    @include text($c-gray, $f-size-xs, 400);
                  }

                  input {
                    border: 0;
                    border-bottom: 1px solid #f1f1f1;
                    transition: 300ms;
                    @include text($c-black, $f-size-xl, 400);
                    width: 100%;
                    padding: $trim-small 0;
                    outline: none;

                    &::placeholder {
                      @include text($c-gray, $f-size-xl, 400);
                    }

                    &:focus {
                      border-color: $c-action;
                    }
                  }
                }
              }

              .button {
                border: 0;
                padding: $trim-small $trim;
                @include text($c-white, $f-size-xxl, 600);
              }
            }
          }
        }

        .bottom {
          .wrapper {
            @include centraliza($max-content-width);
            padding: 80px 0;

            > .content {
              @include flex(center, space-between);
              width: 60%;

              .item {
                @include grid(auto 1fr, 25px);

                > i {
                  @include text($c-blue, $trim + 2, 700);
                }

                .content {
                  > h4 {
                    @include text($c-black, $f-size-xxl, 700);
                    margin: 0 0 $trim-small;
                  }

                  > p {
                    @include text($c-gray, $f-size-l, 400);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}