/* ***************
* Container
**************** */
/* ***************
* Border-radius
**************** */
/* ***************
* Breakpoints
**************** */
/* ***************
* Margin/Padding
**************** */
/* ***************
* Colors
**************** */
/* ***************
* Fonts
**************** */
/* ***************
* Font-size
**************** */
/* line 3, ../scss/general.scss */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, ../scss/general.scss */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #637381;
}

/* line 17, ../scss/general.scss */
a {
  text-decoration: none;
  transition: 300ms;
  padding: 11px 16px;
}
/* line 22, ../scss/general.scss */
a:hover {
  color: #3056d3;
}

/* line 27, ../scss/general.scss */
.button {
  background-color: #3056d3;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms;
}
/* line 34, ../scss/general.scss */
.button:hover {
  background-color: #212b36;
  color: #ffffff;
}

/* line 40, ../scss/general.scss */
.header-container,
.footer-container,
.container {
  max-width: 1115px;
  margin: 0 auto;
}

/* line 47, ../scss/general.scss */
ul, ol, li {
  list-style: none;
}

/* line 51, ../scss/general.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 56, ../scss/general.scss */
::-webkit-scrollbar {
  width: 12px;
}

/* line 60, ../scss/general.scss */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* line 64, ../scss/general.scss */
::-webkit-scrollbar-thumb {
  background-color: #212b36;
  border-radius: 5px;
  border: 3px solid #212b36;
}
/* line 69, ../scss/general.scss */
::-webkit-scrollbar-thumb:hover {
  background-color: #3056d3;
  border-color: #3056d3;
}
