/* ***************
* Container
**************** */
/* ***************
* Border-radius
**************** */
/* ***************
* Breakpoints
**************** */
/* ***************
* Margin/Padding
**************** */
/* ***************
* Colors
**************** */
/* ***************
* Fonts
**************** */
/* ***************
* Font-size
**************** */
/* line 6, ../../scss/layout/home.scss */
.main section.download {
  background-color: #3056d3;
  padding: 180px 0 0;
}
/* line 10, ../../scss/layout/home.scss */
.main section.download .container {
  text-align: center;
}
/* line 13, ../../scss/layout/home.scss */
.main section.download .container h1 {
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 auto 40px;
  max-width: 750px;
}
/* line 20, ../../scss/layout/home.scss */
.main section.download .container p.description {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  opacity: 0.85;
  max-width: 600px;
  margin: 0 auto 40px;
  line-height: 1.8;
}
/* line 28, ../../scss/layout/home.scss */
.main section.download .container .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  margin: 0 auto 40px;
}
@media screen and (max-width: 768px) {
  /* line 28, ../../scss/layout/home.scss */
  .main section.download .container .buttons {
    flex-direction: column;
    padding-bottom: 10px;
  }
}
/* line 33, ../../scss/layout/home.scss */
.main section.download .container .buttons .button {
  background-color: #ffffff;
  color: #212b36;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 30px;
  margin-right: 30px;
}
/* line 39, ../../scss/layout/home.scss */
.main section.download .container .buttons .button:hover {
  color: #3056d3;
}
/* line 44, ../../scss/layout/home.scss */
.main section.download .container .buttons .link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}
/* line 47, ../../scss/layout/home.scss */
.main section.download .container .buttons .link > i {
  transition: 300ms;
}
/* line 51, ../../scss/layout/home.scss */
.main section.download .container .buttons .link:hover {
  opacity: 0.5;
}
/* line 54, ../../scss/layout/home.scss */
.main section.download .container .buttons .link:hover > i {
  transform: translateX(3px);
}
/* line 61, ../../scss/layout/home.scss */
.main section.download .container .brand {
  max-width: 240px;
  margin: 0 auto 40px;
}
/* line 65, ../../scss/layout/home.scss */
.main section.download .container .brand > img {
  margin: 0 auto;
  opacity: 0.5;
  transition: 300ms;
}
/* line 70, ../../scss/layout/home.scss */
.main section.download .container .brand > img:hover {
  opacity: 1;
}
/* line 77, ../../scss/layout/home.scss */
.main section.download .container .img-dashboard > div {
  position: relative;
  margin: 0 auto;
  max-width: 845px;
}
/* line 82, ../../scss/layout/home.scss */
.main section.download .container .img-dashboard > div > img {
  position: relative;
  z-index: 9;
  margin: 0 auto;
}
/* line 88, ../../scss/layout/home.scss */
.main section.download .container .img-dashboard > div::before {
  content: "";
  background: url("../../images/hero/dotted-shape.svg") no-repeat;
  position: absolute;
  width: 134px;
  height: 106px;
  left: -35px;
  bottom: 0;
}
/* line 98, ../../scss/layout/home.scss */
.main section.download .container .img-dashboard > div::after {
  content: "";
  background: url("../../images/hero/dotted-shape.svg") no-repeat;
  position: absolute;
  width: 134px;
  height: 106px;
  right: -35px;
  top: -20px;
}
/* line 112, ../../scss/layout/home.scss */
.main section.features {
  padding: 120px 0 0;
}
/* line 116, ../../scss/layout/home.scss */
.main section.features .container > span {
  color: #3056d3;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 15px;
  display: block;
}
/* line 122, ../../scss/layout/home.scss */
.main section.features .container h2.title {
  color: #212b36;
  font-size: 42px;
  font-weight: 700;
  margin: 0 0 30px;
}
/* line 127, ../../scss/layout/home.scss */
.main section.features .container p.description {
  color: #637381;
  font-size: 20px;
  font-weight: 400;
  max-width: 620px;
  text-align: left;
  line-height: 1.5;
  margin: 0 0 50px;
}
/* line 135, ../../scss/layout/home.scss */
.main section.features .container ul.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
/* line 142, ../../scss/layout/home.scss */
.main section.features .container ul.list > li.item .image-view {
  width: 70px;
  height: 70px;
  background-color: #3056d3;
  border-radius: 10px;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
  position: relative;
}
/* line 151, ../../scss/layout/home.scss */
.main section.features .container ul.list > li.item .image-view > i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
/* line 155, ../../scss/layout/home.scss */
.main section.features .container ul.list > li.item .image-view::before {
  content: "";
  background-color: #3056d3;
  opacity: 0.3;
  position: absolute;
  width: 70px;
  height: 70px;
  z-index: -1;
  border-radius: 10px;
  transform: rotate(25deg);
  transition: 500ms;
}
/* line 169, ../../scss/layout/home.scss */
.main section.features .container ul.list > li.item > h2 {
  color: #212b36;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
/* line 174, ../../scss/layout/home.scss */
.main section.features .container ul.list > li.item > p {
  color: #637381;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 50px;
  line-height: 1.5;
}
/* line 180, ../../scss/layout/home.scss */
.main section.features .container ul.list > li.item a.button {
  display: inline-block;
  background-color: transparent;
  padding: 0;
  color: #637381;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
}
/* line 187, ../../scss/layout/home.scss */
.main section.features .container ul.list > li.item a.button:hover {
  color: #3056d3;
}
/* line 193, ../../scss/layout/home.scss */
.main section.features .container ul.list > li.item:hover .image-view::before {
  transform: rotate(45deg);
}
/* line 202, ../../scss/layout/home.scss */
.main section.about-us {
  background-color: #f3f4fe;
  padding: 120px 0;
}
/* line 206, ../../scss/layout/home.scss */
.main section.about-us .container {
  background-color: #ffffff;
  border: 1px solid #efefef;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
/* line 211, ../../scss/layout/home.scss */
.main section.about-us .container .left {
  padding: 70px;
  flex: 0 0 55%;
}
/* line 215, ../../scss/layout/home.scss */
.main section.about-us .container .left > span {
  background-color: #3056d3;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 20px;
  margin: 0 0 30px;
  display: inline-block;
}
/* line 223, ../../scss/layout/home.scss */
.main section.about-us .container .left > h2 {
  color: #212b36;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 30px;
}
/* line 228, ../../scss/layout/home.scss */
.main section.about-us .container .left .description {
  color: #637381;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
/* line 232, ../../scss/layout/home.scss */
.main section.about-us .container .left .description > p {
  margin: 0 0 40px;
}
/* line 237, ../../scss/layout/home.scss */
.main section.about-us .container .left .button {
  display: inline-block;
  padding: 18px 30px;
}
/* line 241, ../../scss/layout/home.scss */
.main section.about-us .container .left .button:hover {
  background-color: #2748b4;
  filter: drop-shadow(0px 0px 3px #2748b4);
}
/* line 251, ../../scss/layout/home.scss */
.main section.price .container {
  padding: 120px 0 90px;
  text-align: center;
}
/* line 255, ../../scss/layout/home.scss */
.main section.price .container > span {
  color: #3056d3;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 30px;
  display: inline-block;
}
/* line 261, ../../scss/layout/home.scss */
.main section.price .container > h2 {
  color: #212b36;
  font-size: 42px;
  font-weight: 700;
  margin: 0 0 30px;
}
/* line 266, ../../scss/layout/home.scss */
.main section.price .container > h3 {
  color: #637381;
  font-size: 20px;
  font-weight: 400;
  max-width: 620px;
  margin: 0 auto 70px;
}
/* line 272, ../../scss/layout/home.scss */
.main section.price .container > ul.list {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  /* line 272, ../../scss/layout/home.scss */
  .main section.price .container > ul.list {
    flex-direction: column;
    padding-bottom: 10px;
  }
}
/* line 275, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item {
  border: 2px solid #d4deff;
  border-radius: 10px;
  padding: 45px 30px;
  flex: 0 0 33.33%;
  position: relative;
}
/* line 282, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item > span {
  display: inline-block;
  text-transform: uppercase;
  color: #3056d3;
  font-size: 15px;
  font-weight: 700;
  background-color: #ffffff;
  padding: 15px 30px;
  border-radius: 50px;
  margin: 0 0 20px;
}
/* line 292, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item > h2 {
  color: #212b36;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 10px;
}
/* line 298, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item > h3.price {
  color: #3056d3;
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 50px;
}
/* line 304, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item ul.list-popular > li.item {
  color: #637381;
  font-size: 15px;
  font-weight: 500;
}
/* line 307, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item ul.list-popular > li.item:not(:last-child) {
  margin: 0 0 20px;
}
/* line 313, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item a.button {
  display: inline-block;
  margin-top: 40px;
  border: 1px solid #d4deff;
  border-radius: 50px;
  color: #3056d3;
  font-size: 16px;
  font-weight: 600;
  background-color: #ffffff;
  padding: 15px 40px;
}
/* line 322, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item a.button:hover {
  background-color: #3056d3;
  color: #ffffff;
}
/* line 328, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item:nth-child(2) {
  background: linear-gradient(180deg, #3056d3 0%, #179bee 100%);
  border: 0;
}
/* line 332, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item:nth-child(2) > h2, .main section.price .container > ul.list > li.item:nth-child(2) > h3.price, .main section.price .container > ul.list > li.item:nth-child(2) ul.list-popular > li.item {
  color: #ffffff;
}
/* line 336, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item:nth-child(2) a.button {
  border: 0;
  color: #212b36;
}
/* line 340, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item:nth-child(2) a.button:hover {
  color: #ffffff;
  background-color: #212b36;
}
/* line 347, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item:first-child::after {
  content: "";
  width: 55px;
  height: 55px;
  background-color: #3056d3;
  position: absolute;
  left: -2px;
  bottom: -2px;
  border-radius: 0 55px 0 10px;
}
/* line 351, ../../scss/layout/home.scss */
.main section.price .container > ul.list > li.item:last-child::after {
  content: "";
  width: 55px;
  height: 55px;
  background-color: #13c296;
  position: absolute;
  right: -2px;
  top: -2px;
  border-radius: 0 10px 0 55px;
}
